.container {

}

.requestAccessBtn {
    margin-top: 20px;
    background: #68C721;
    display: flex;
    margin-top: 5px;
    width: 160px;
    height: 35px;
    box-shadow: none;
}

.prescription {
    img {
        margin-top: 10px;
    }
}
