$red: #EB5054;

.heading {
    margin-bottom: 20px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin: auto;

    label {
        margin-top: 20px;
    }
}


.button {
    margin-top: 20px;
    background: #68C721;
}

.error {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: $red;
}
